.logo{
    width: 160px;
    height: 30px;
    object-fit: cover;
}

.box-logo{
    align-items: center;
    gap: 40px;
    display: flex;
}

.welcome-box{
    padding-left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 100%;
    background-image: url(../../assets/beef.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.welcome-text{
    font-size: 46px;
}

.bg-color{
    background-color: var(--color-blueLight);
}

.lupa{
    position: absolute;
    right: 10px;
    top: 35px;
    width: 32px;
    cursor: pointer;
}

.container-pesquisar{
    width: 100%;
    padding: 10px 30px 10px 35px;
    display: flex;
    justify-content: space-between;
}

.box-pesquisar{
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
}

/* @keyframes hide {
    0% {
        background-color: white;
        width: 250px;
    }
    100% {
        background-color: var(--color-darkBlue);
        width: 0px;
    }
} */

/* .hideAnimation{
    animation: hide 0.5s both;
}

@keyframes show {
    0% {  
        width: 0px;
        display: block;
    }
    100% {
        background-color: white;
        width: 250px;
    }
}

.showAnimation{
    animation: show 0.5s both;
} */

#pesquisar{
    position: relative;
    width: 100%;
    padding:10px 10px 10px 20px;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
}

#gender-list{
    color: black;
    top: 42px;
    right: -110px;
    z-index: 10;
    position: absolute;
    width: 170px;
    padding: 5px 0px;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    align-items: start;
    list-style: none;
    overflow: auto;
    scrollbar-width:none;
    height: 400px;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

.genero{
    font-size: 14px;
    cursor: pointer;
    padding: 15px 0px 15px 20px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.genero:hover{
    background-color: rgb(221, 221, 221);
}

.gen-btn{
    font-size: 16px;
    font-weight: bold;
    padding: 6px 0px 10px 0px;
    color: white;
    border: none;
    background-color: var(--color-blueLight);
}

.generos{
    position: relative;
    cursor: pointer;
    color: white;
    margin: 0px;    
    padding-top: 2px;
}

.list-ordem{
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
}

#filmes-btn{
    position: relative;
}

#order-list{
    color: black;
    top: 52px;
    left: 205px;
    z-index: 10;
    position: absolute;
    width: 170px;
    padding: 5px 0px;
    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    align-items: start;
    list-style: none;
    overflow: auto;
    scrollbar-width:none;
}