*{
    font-family: Helvetica, sans-serif;    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(3,37,65);
    background: linear-gradient(180deg, rgba(3,37,65,1) 3%, rgba(0,0,0,1) 65%);
}

#box{
    padding: 60px;
    color: white;
    display: flex;
    width: 100%;
    height: 90vh;
}

#sub-box{
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#poster-filme{
    border-radius: 20px;
    width: 24%;
    background-repeat: no-repeat;
    background-size: cover;
}

#infos-filme{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub-infos{
    font-size: 14px;
    padding-left: 18px;
    display: flex;
    gap: 28px;
}

.tagline{
    font-size: 18px;
    opacity: 0.7;
}

.desc-filme{
    width: 100%;
    height: 120px;
    overflow: auto;
    font-size: 16px;
}

.nome-filme{
    font-weight: 700;
}

.release-date{
    opacity: 0.8;
}

#box-infos-extra{
    display: flex;
    background-color: white;
    height: 400px;
    width: 100%;
}

#infos-extra{
    box-shadow: -85px -20px 20px -28px rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
    padding: 30px 0px 0px 30px;
    width: 20%;
}

.p-box{
    display: flex;
    flex-direction: column;
}

.homepage-btn{
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: white;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
}

.logo{
    width: 160px;
    height: 30px;
    object-fit: cover;
}

.container-pesquisar{
    background-color:  rgb(3, 37, 65);
    padding: 15px 0px 15px 10px;
}

.porcent-vote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(19, 19, 19);
}

.num-votes{
    font-size: 1.2rem;
    margin-left: 4px;
    line-height: 1;
    color: white;
}

.num-votes::after{
    font-size: 11px;
    content: "%"
}

.classificacao{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.red{
    border: 4px solid red;
}

.yellow{
    border: 4px solid yellow;
}

.green{
    border: 4px solid green;
}

.geral{
    display: flex;
    align-items: center;
    margin: 0;
}

#cast{
    padding: 30px 30px 0px 30px;
    width: 77%;
}

#cast-list{
    margin-top: 20px;
    height: 306px;
    display: flex;
    padding: 0px;
    list-style: none;
    overflow: auto;
}

#cast-list:last-child{
    padding-right: 30px;
}

.cast-box{
    margin-left: 20px;
    border-radius: 10px;
    height: 260px;
    box-shadow: 0px 2px 4px 0px rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
}

.cast-img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 175px;
    width: 138px;
}

.cast-infos{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cast-title{
    padding: 20px;
    font-size: 20px;
}

.actor{
    font-size: 14px;
    margin-bottom: 0px;
}

.character{
    margin-bottom: 0px;
    font-size: 14px;
    overflow: hidden;
    height: 40px;
}

/* scroll bar */

*::-webkit-scrollbar {
    height: 8px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a3a3a3;
  }

  footer{
    display: flex;
    justify-content: center;    
    align-items:center ;
    color: white;
    width: 100%;
    height: 60px;
    background-color: rgba(3,37,65,1);
  }

