.options-multimedia{
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn-multimedia{
    cursor: pointer;
    margin-bottom: 0;
}

.multimedia-title{
    font-size: 20px;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

#multimedia{
    padding: 30px 30px 0px 50px;
}

#video-youtube{
    padding-bottom: 10px;
    width: 75%;
    gap: 10px;
    overflow: auto;
    margin-bottom: 20px;
}

#imagens-filme{
    padding-bottom: 10px;
    width: 75%;
    gap: 10px;
    overflow: auto;
    margin-bottom: 20px;
}

.youtube-size{
    border-radius: 10px !important;
    min-width:450px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.youtube-size:hover{
    transform: scale(1.02);
}
