#pre-load{
    display: grid;
    justify-items: center;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
    gap: 20px;
    padding-top: 5%;
    margin-bottom: 40px;
}

.load{
    border-radius: 10px;
    background-color: #d9d9d9;
    height: 316px;
    width: 180px;
}

.box-all-loads{
    width: 80%;
}